@import url('https://fonts.googleapis.con/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image:hover {
    opacity: 0.3;
}


.lib {
    margin-top: 104px;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 53vh;
    background: #343F4F;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 8;
}

.wrapper i:first-child {
    left: -23px;
    display: none;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
    transform: scale(0.91);
    transition: all .4s;
}

.carousel img:hover {
    transform: scale(1);
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}








.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: #042735;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: cyan;
}

.banner {
    height: 100vh;
    background: url("../static/images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 40px 0;
}
.about .title {
    font-size: 35px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media ( max-width: 868px ) {
    
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
    }
}